.director-image{
    background-size: cover;
}

.gameCapa-image{
    height: 400px;
}

.content>mat-card{
    width: 200px;
}

.routerLinkGame{
    cursor: pointer;
}

.routerLinkGame:hover{
    text-decoration: underline;
}