.exemple-card{
    max-width: 1200px;    
    height: 600px;
}

.developerCapa-image{
    height: 400px;
    max-width: 400px;
}
.routerLinkDeveloper {
    cursor: pointer;
}

.routerLinkDeveloper:hover{
    text-decoration: underline;   
    
  }
