<h2 mat-dialog-title>Atualizar Game: {{this.Game['nome']}}</h2>
<form [formGroup]="gameFormGroup" class="form">
    <mat-form-field class="form-element">
        <mat-label>Plataforma</mat-label>
        <input MatInput formControlName="plataforma" placeholder="Plataforma" required>
    </mat-form-field>    
    <mat-form-field class="form-element">
        <mat-label>Imagem</mat-label>
            <input matInput formControlName="imagem" placeholder="Link da imagem" required>
        </mat-form-field>
        <mat-form-field class="form-element">
            <mat-label>Sinopse</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" formControlName="sinopse" placeholder="Sinopse" required></textarea>
        </mat-form-field>
        <mat-form-field class="form-element">
        <mat-label>Classificação</mat-label>
            <input matInput formControlName="classificacao" placeholder="Classificacao">
        </mat-form-field>
        <mat-form-field class="form-element">
            <mat-label>Selecione uma Desenvolvedora</mat-label>
            <mat-select formControlName="developer" [compareWith]="compareDeveloper" required>
                <mat-option *ngFor="let developer of developers" [value]="developer">{{developer.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="form-element">
            <button class="button" color="primary" mat-button [disabled]="gameFormGroup.invalid"
             (click)="updateGame()">Atualizar Game</button>
        </div>
        <div class="form-element">
            <button class="button" color="warn" mat-button (click)="closeDialog()">Fechar</button>
        </div>      
</form>
