<app-loading *ngIf="!Game && !hasError"></app-loading>
<app-erro *ngIf="!Game && hasError"></app-erro>
<div *ngIf= "Game && !hasError" class="content" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center"
    fxLayoutAlign.gt-sm="center start" fxLayoutGap="16px">
    <div fxFlex="50%" fxFlex.gt-sm="25%">
        <mat-card class="mat-elevation-z0">
            <img mat-card-image class="gameCover" [src]="Game.imagem" alt="Photo of a {{Game.nome}}">
        </mat-card>
        <mat-card class="mat-elevation-z3">
            <mat-card-header>
                <img mat-card-avatar class="developerImage" [src]="Game.developer.imagem" onError="this.src='./../../../../assets/developer.png.png'" alt= "Photo of a {{Game.developer.nome}}">
                <div class= "developerName">{{Game.developer.nome}}</div>
            </mat-card-header>
        </mat-card>
        <br>
        <div class="row">
            <button mat-mini-fab color="primary" aria-label="Atualizar Game" (click)="openUpdateGameModal()">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>
    <div fxFlex="50%" fxFlex.gt-sm="75%">
        <mat-card class="mat-elevation-z0">
            <div class="row">
                <span class="mat-display-1 uppercase-text">{{Game.nome}}</span>
                <br>
                <span class="gameInfo">{{Game.plataforma}}</span>
            </div>

<!--<div *ngIf="Game.developer || Game.sinopse" class="row">
                <span>Desenvolvedora: {{Game.developer}}</span>
                <span *ngIf="Game.developer" class="gameInfo"><b class="gameInfoBold">
                    Desenvolvedora:</b> {{Game.developer}} &nbsp;</span>
                
                <span *ngIf="Game.sinopse" class="gameInfo"><b class="gameInfoBold">
                    Sinopse:</b> {{Game.sinopse}}</span>
            </div>       -->      

            <div class="row">
                <p class="gameSynopsis">{{Game.sinopse}}</p>
            </div>
        </mat-card>
    </div>
</div>


