<div class="content" fxLayout="row wrap" fxLayout="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor= "let developer of Developers">
    <app-developer-card [Developer]="developer"></app-developer-card>        
    </div>
</div>


        
            
            


            
            
            <!--</div>" class ="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="100%" fxFlex.sm="100%" fxFlex.sm="100%">
    <button mat-flat-button color="primary" (click)="openNewGameModal()">Adicionar Game</button>
  </div>
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor= "let game of Games">
    <app-game-card [Game]="game"></app-game-card>   
  </div>  
</div>-->
